<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Administrat>
            <version>1.0.0.0.0</version>
        </SunshineBiz_Administrat>
    </modules>
    <global>
        <models>
            <administrat>
                <class>SunshineBiz_Administrat_Model</class>
                <resourceModel>administrat_resource</resourceModel>
            </administrat>
            <administrat_resource>
                <class>SunshineBiz_Administrat_Model_Resource</class>                
                <entities>
                    <user_rule>
                        <table>admin_user_rule</table>
                    </user_rule>
                </entities>
            </administrat_resource>
            <admin>
                <rewrite>
                    <acl>SunshineBiz_Administrat_Model_Acl</acl>
                    <user>SunshineBiz_Administrat_Model_User</user>
                </rewrite>
            </admin>
            <admin_resource>
                <rewrite>
                    <acl>SunshineBiz_Administrat_Model_Resource_Acl</acl>
                    <rules>SunshineBiz_Administrat_Model_Resource_Rules</rules>
                    <user>SunshineBiz_Administrat_Model_Resource_User</user>
                </rewrite>
            </admin_resource>
        </models>
        <helpers>
            <administrat>
                <class>SunshineBiz_Administrat_Helper</class>
            </administrat>
        </helpers>
        <resources>
            <administrat_setup>
                <setup>
                    <module>SunshineBiz_Administrat</module>
                </setup>
            </administrat_setup>
        </resources>
        <blocks>
            <administrat>
                <class>SunshineBiz_Administrat_Block</class>
            </administrat>
            <adminhtml>  
                <rewrite>  
                    <notification_toolbar>SunshineBiz_Administrat_Block_Adminhtml_Notification_Toolbar</notification_toolbar>
                    <notification_window>SunshineBiz_Administrat_Block_Adminhtml_Notification_Window</notification_window>
                    <page_header>SunshineBiz_Administrat_Block_Adminhtml_Page_Header</page_header>
                    <permissions_user_edit_tab_main>SunshineBiz_Administrat_Block_Adminhtml_Permission_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                    <permissions_user_edit_tab_roles>SunshineBiz_Administrat_Block_Adminhtml_Permission_User_Edit_Tab_Roles</permissions_user_edit_tab_roles>                                          
                </rewrite>  
            </adminhtml>  
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SunshineBiz_Administrat before="Mage_Adminhtml">SunshineBiz_Administrat_Adminhtml</SunshineBiz_Administrat>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <SunshineBiz_Administrat>
                    <files>
                        <default>SunshineBiz_Administrat.csv</default>
                    </files>
                </SunshineBiz_Administrat>
            </modules>
        </translate>
        <layout>
            <updates>
                <administrat>
                    <file>administrat.xml</file>
                </administrat>
            </updates>
        </layout>
    </adminhtml>
</config>