<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_PayOther>
            <version>1.0.0.0</version>
        </SunshineBiz_PayOther>
    </modules>
    <global>
        <models>
            <payother>
                <class>SunshineBiz_PayOther_Model</class>
            </payother>
        </models>
        <helpers>
            <payother>
                <class>SunshineBiz_PayOther_Helper</class>
            </payother>
            <payment>
                <rewrite>
                    <data>SunshineBiz_PayOther_Helper_Payment</data>
                </rewrite>
            </payment>
        </helpers>
        <resources>
            <payother_setup>
                <setup>
                    <module>SunshineBiz_PayOther</module>
                </setup>
            </payother_setup>
        </resources>
    </global>
    <frontend>
        <translate>
            <modules>
                <SunshineBiz_PayOther>
                    <files>
                        <default>SunshineBiz_PayOther.csv</default>
                    </files>
                </SunshineBiz_PayOther>
            </modules>
        </translate>
    </frontend>
</config>