<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Adminhtml>
            <version>1.0.0.0</version>
        </SunshineBiz_Adminhtml>
    </modules>
    <global>
        <models>
            <sunshinebiz_adminhtml>
                <class>SunshineBiz_Adminhtml_Model</class>
            </sunshinebiz_adminhtml>
            <adminhtml>
                <rewrite>
                    <system_store>SunshineBiz_Adminhtml_Model_System_Store</system_store>
                </rewrite>
            </adminhtml>
        </models>
        <blocks>
            <sunshinebiz_adminhtml>
                <class>SunshineBiz_Adminhtml_Block</class>
            </sunshinebiz_adminhtml>
            <adminhtml>  
                <rewrite>  
                    <notification_toolbar>SunshineBiz_Adminhtml_Block_Notification_Toolbar</notification_toolbar>
                    <notification_window>SunshineBiz_Adminhtml_Block_Notification_Window</notification_window>
                    <page_header>SunshineBiz_Adminhtml_Block_Page_Header</page_header>
                    <permissions_user_edit_tab_main>SunshineBiz_Adminhtml_Block_Permission_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                    <permissions_user_edit_tab_roles>SunshineBiz_Adminhtml_Block_Permission_User_Edit_Tab_Roles</permissions_user_edit_tab_roles>
                    <promo_quote_grid>SunshineBiz_Adminhtml_Block_Promo_Quote_Grid</promo_quote_grid>
                    <store_switcher>SunshineBiz_Adminhtml_Block_Store_Switcher</store_switcher>
                    <system_config_form>SunshineBiz_Adminhtml_Block_System_Config_Form</system_config_form>
                    <system_config_form_field>SunshineBiz_Adminhtml_Block_System_Config_Form_Field</system_config_form_field>                    
                    <widget_grid_column_filter_price>SunshineBiz_Adminhtml_Block_Widget_Grid_Column_Filter_Price</widget_grid_column_filter_price>
                    <widget_grid_column_filter_select>SunshineBiz_Adminhtml_Block_Widget_Grid_Column_Filter_Select</widget_grid_column_filter_select>
                    <widget_grid_column_filter_text>SunshineBiz_Adminhtml_Block_Widget_Grid_Column_Filter_Text</widget_grid_column_filter_text>
                    <widget_grid_column_renderer_massaction>SunshineBiz_Adminhtml_Block_Widget_Grid_Column_Renderer_Massaction</widget_grid_column_renderer_massaction>                                          
                </rewrite>  
            </adminhtml>
        </blocks>
        <helpers>
            <sunshinebiz_adminhtml>
                <class>SunshineBiz_Adminhtml_Helper</class>
            </sunshinebiz_adminhtml>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SunshineBiz_Adminhtml before="Mage_Adminhtml">SunshineBiz_Adminhtml</SunshineBiz_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <SunshineBiz_Adminhtml>
                    <files>
                        <default>SunshineBiz_Adminhtml.csv</default>
                    </files>
                </SunshineBiz_Adminhtml>
            </modules>
        </translate>
        <layout>
            <updates>
                <sunshinebiz_adminhtml>
                    <file>sunshinebiz/adminhtml.xml</file>
                </sunshinebiz_adminhtml>
            </updates>
        </layout>
    </adminhtml>
</config>