<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Facebook>
            <version>1.0.0.0</version>
        </SunshineBiz_Facebook>
    </modules>
    <global>
        <models>
            <facebook>
                <class>SunshineBiz_Facebook_Model</class>
                <resourceModel>facebook_resource</resourceModel>
            </facebook>
            <facebook_resource>
                <class>SunshineBiz_Facebook_Model_Resource</class>
                <entities>
                    <customer>
                        <table>facebook_customer</table>
                    </customer>
                </entities>
            </facebook_resource>
        </models>
        <blocks>
            <facebook>
                <class>SunshineBiz_Facebook_Block</class>
            </facebook>            
        </blocks>
        <helpers>
            <facebook>
                <class>SunshineBiz_Facebook_Helper</class>
            </facebook>
        </helpers>
        <resources>
            <facebook_setup>
                <setup>
                    <module>SunshineBiz_Facebook</module>
                </setup>
            </facebook_setup>
        </resources> 
    </global>
    <frontend>
        <translate>
            <modules>
                <SunshineBiz_Facebook>
                    <files>
                        <default>SunshineBiz_Facebook.csv</default>
                    </files>
                </SunshineBiz_Facebook>
            </modules>
        </translate>
        <routers>
            <facebook>
                <use>standard</use>
                <args>
                    <module>SunshineBiz_Facebook</module>
                    <frontName>facebook</frontName>
                </args>
            </facebook>
        </routers>
        <layout>
            <updates>
                <facebook>
                    <file>sunshinebiz/facebook.xml</file>
                </facebook>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Facebook>
                    <files>
                        <default>SunshineBiz_Facebook.csv</default>
                    </files>
                </SunshineBiz_Facebook>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <socialconnect>
            <facebook>
                <model>facebook/method</model>
            </facebook>
        </socialconnect>
    </default>
</config>