<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Locale>
            <version>1.0.0.0.0</version>
        </SunshineBiz_Locale>
    </modules>
    <global>
        <helpers>
            <locale>
                <class>SunshineBiz_Locale_Helper</class>
            </locale>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <SunshineBiz_Locale>
                    <files>
                        <default>SunshineBiz_Locale.csv</default>
                    </files>
                </SunshineBiz_Locale>
            </modules>
        </translate>
    </adminhtml>
</config>