<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Alipay>
            <version>1.0.0.0</version>
        </SunshineBiz_Alipay>
    </modules>
    <global>
        <models>
            <alipay>
                <class>SunshineBiz_Alipay_Model</class>
                <resourceModel>alipay_resource</resourceModel>
            </alipay>
            <alipay_resource>
                <class>SunshineBiz_Alipay_Model_Resource</class>
                <entities>
                    <customer>
                        <table>alipay_customer</table>
                    </customer>
                </entities>
            </alipay_resource>
        </models>
        <helpers>
            <alipay>
                <class>SunshineBiz_Alipay_Helper</class>
            </alipay>
        </helpers>
        <resources>
            <alipay_setup>
                <setup>
                    <module>SunshineBiz_Alipay</module>
                </setup>
            </alipay_setup>
        </resources>
        <blocks>
            <alipay>
                <class>SunshineBiz_Alipay_Block</class>
            </alipay>
        </blocks>
        <payment>
            <groups>
                <alipay>Alipay</alipay>
            </groups>
        </payment>
        <fieldsets>
            <sales_convert_quote_payment>
                <payment_bank>
                    <to_order_payment>*</to_order_payment>
                </payment_bank>
            </sales_convert_quote_payment>
        </fieldsets>
        <events>
            <sales_order_save_after>
                <observers>
                    <alipay>
                        <class>alipay/observer</class>
                        <method>salesEventOrderAfterSave</method>
                    </alipay>
                </observers>
            </sales_order_save_after>
        </events>
    </global>
    <frontend>
        <secure_url>
            <alipay_pay>/alipay/pay</alipay_pay>
        </secure_url>
        <routers>
            <alipay>
                <use>standard</use>
                <args>
                    <module>SunshineBiz_Alipay</module>
                    <frontName>alipay</frontName>
                </args>
            </alipay>            
        </routers>
        <translate>
            <modules>
                <SunshineBiz_Alipay>
                    <files>
                        <default>SunshineBiz_Alipay.csv</default>
                    </files>
                </SunshineBiz_Alipay>
            </modules>
        </translate>
        <layout>
            <updates>
                <alipay>
                    <file>alipay.xml</file>
                </alipay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <SunshineBiz_Alipay>
                    <files>
                        <default>SunshineBiz_Alipay.csv</default>
                    </files>
                </SunshineBiz_Alipay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <alipay>
                <notify_ips>121.0.26.1,121.0.26.2</notify_ips>
            </alipay>
            <alipay_dual>
                <group>alipay</group>
                <model>alipay/dual</model>
                <order_status>pending</order_status>
            </alipay_dual>
            <alipay_secured>
                <group>alipay</group>
                <model>alipay/secured</model>
                <order_status>pending</order_status>
            </alipay_secured>
            <alipay_instant>
                <group>alipay</group>
                <model>alipay/instant</model>
                <order_status>pending</order_status>
            </alipay_instant>
            <alipay_bank>
                <group>alipay</group>
                <model>alipay/bank</model>
                <order_status>pending</order_status>
            </alipay_bank>
        </payment>
        <socialconnect>
            <alipay>
                <model>alipay/login</model>
            </alipay>
        </socialconnect>
    </default>
</config>
