<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Twitter>
            <version>1.0.0.0</version>
        </SunshineBiz_Twitter>
    </modules>
    <global>
        <models>
            <twitter>
                <class>SunshineBiz_Twitter_Model</class>
                <resourceModel>twitter_resource</resourceModel>
            </twitter>
            <twitter_resource>
                <class>SunshineBiz_Twitter_Model_Resource</class>
                <entities>
                    <customer>
                        <table>twitter_customer</table>
                    </customer>
                </entities>
            </twitter_resource>
        </models>
        <blocks>
            <twitter>
                <class>SunshineBiz_Twitter_Block</class>
            </twitter>            
        </blocks>
        <helpers>
            <twitter>
                <class>SunshineBiz_Twitter_Helper</class>
            </twitter>
        </helpers>
        <resources>
            <twitter_setup>
                <setup>
                    <module>SunshineBiz_Twitter</module>
                </setup>
            </twitter_setup>
        </resources> 
    </global>
    <frontend>
        <translate>
            <modules>
                <SunshineBiz_Twitter>
                    <files>
                        <default>SunshineBiz_Twitter.csv</default>
                    </files>
                </SunshineBiz_Twitter>
            </modules>
        </translate>
        <routers>
            <twitter>
                <use>standard</use>
                <args>
                    <module>SunshineBiz_Twitter</module>
                    <frontName>twitter</frontName>
                </args>
            </twitter>
        </routers>
        <layout>
            <updates>
                <twitter>
                    <file>sunshinebiz/twitter.xml</file>
                </twitter>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Twitter>
                    <files>
                        <default>SunshineBiz_Twitter.csv</default>
                    </files>
                </SunshineBiz_Twitter>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <socialconnect>
            <twitter>
                <model>twitter/method</model>
            </twitter>
        </socialconnect>
    </default>
</config>