<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Cms>
            <version>1.0.0.0</version>
        </SunshineBiz_Cms>
    </modules>
    <global>
        <models>
            <sunshinebiz_cms>
                <class>SunshineBiz_Cms_Model</class>
                <resourceModel>sunshinebiz_cms_resource</resourceModel>
            </sunshinebiz_cms>
            <sunshinebiz_cms_resource>
                <class>SunshineBiz_Cms_Model_Resource</class>
                <entities>
                    <media>
                        <table>cms_media</table>
                    </media>
                </entities>
            </sunshinebiz_cms_resource>
        </models>
        <helpers>
            <sunshinebiz_cms>
                <class>SunshineBiz_Cms_Helper</class>
            </sunshinebiz_cms>
        </helpers>
        <resources>
            <sunshinebiz_cms_setup>
                <setup>
                    <module>SunshineBiz_Cms</module>
                </setup>
            </sunshinebiz_cms_setup>
        </resources>
        <blocks>
            <sunshinebiz_cms>
                <class>SunshineBiz_Cms_Block</class>
            </sunshinebiz_cms>
        </blocks>
    </global>    
    <frontend>
        <routers>
            <cms>
                <args>
                    <modules>
                        <SunshineBiz_Cms before="Mage_Cms">SunshineBiz_Cms</SunshineBiz_Cms>
                    </modules>
                </args>
            </cms>
        </routers>
        <translate>
            <modules>
                <SunshineBiz_Cms>
                    <files>
                        <default>SunshineBiz_Cms.csv</default>
                    </files>
                </SunshineBiz_Cms>
            </modules>
        </translate>
        <layout>
            <updates>
                <cms>
                    <file>sunshinebiz/cms.xml</file>
                </cms>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <sunshinebiz_cms>
                    <file>sunshinebiz/cms.xml</file>
                </sunshinebiz_cms>
            </updates>
        </layout>
        <translate>
            <modules>
                <SunshineBiz_Cms>
                    <files>
                        <default>SunshineBiz_Cms.csv</default>
                    </files>
                </SunshineBiz_Cms>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SunshineBiz_Cms before="Mage_Adminhtml">SunshineBiz_Cms_Adminhtml</SunshineBiz_Cms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>