<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Admin>
            <version>1.0.0.0</version>
        </SunshineBiz_Admin>
    </modules>
    <global>
        <models>
            <sunshinebiz_admin>
                <class>SunshineBiz_Admin_Model</class>
                <resourceModel>sunshinebiz_admin_resource</resourceModel>
            </sunshinebiz_admin>
            <sunshinebiz_admin_resource>
                <class>SunshineBiz_Admin_Model_Resource</class>                
                <entities>
                    <user_rule>
                        <table>admin_user_rule</table>
                    </user_rule>
                </entities>
            </sunshinebiz_admin_resource>
            <admin>
                <rewrite>
                    <acl>SunshineBiz_Admin_Model_Acl</acl>
                    <user>SunshineBiz_Admin_Model_User</user>
                </rewrite>
            </admin>
            <admin_resource>
                <rewrite>
                    <acl>SunshineBiz_Admin_Model_Resource_Acl</acl>
                    <rules>SunshineBiz_Admin_Model_Resource_Rules</rules>
                    <user>SunshineBiz_Admin_Model_Resource_User</user>
                </rewrite>
            </admin_resource>
        </models>
        <helpers>
            <sunshinebiz_admin>
                <class>SunshineBiz_Admin_Helper</class>
            </sunshinebiz_admin>
        </helpers>
        <resources>
            <sunshinebiz_admin_setup>
                <setup>
                    <module>SunshineBiz_Admin</module>
                </setup>
            </sunshinebiz_admin_setup>
        </resources>
    </global>    
</config>