<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Backend>
            <version>1.0.0.0.0</version>
        </SunshineBiz_Backend>
    </modules>
    <global>
        <blocks>
            <adminhtml>  
                <rewrite>  
                    <notification_toolbar>SunshineBiz_Backend_Block_Notification_Toolbar</notification_toolbar>
                    <notification_window>SunshineBiz_Backend_Block_Notification_Window</notification_window>
                    <page_header>SunshineBiz_Backend_Block_Page_Header</page_header>
                    <store_switcher>SunshineBiz_Backend_Block_Store_Switcher</store_switcher>                      
                </rewrite>  
            </adminhtml>  
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <backend>
                    <file>sunshinebiz_backend.xml</file>
                </backend>
            </updates>
        </layout>
    </adminhtml>
</config>