<?xml version="1.0"?>
<config>
    <modules>
        <Techbandhu_Asktologin>
            <version>0.1.5</version>
        </Techbandhu_Asktologin>
    </modules>
    <frontend>
    	<routers>
            <asktologin>
                <use>standard</use>
                <args>
                    <module>Techbandhu_Asktologin</module>
                    <frontName>asktologin</frontName>
                </args>
            </asktologin>
        </routers>
        <layout>
            <updates>
                <asktologin>
                    <file>asktologin.xml</file>
                </asktologin>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <asktologin>
                <class>Techbandhu_Asktologin_Block</class>
            </asktologin>
        </blocks>
        <helpers>
            <asktologin>
                <class>Techbandhu_Asktologin_Helper</class>
            </asktologin>
        </helpers>
     </global>
</config>