<?xml version="1.0"?>
<config>
    <modules>
        <WP_CustomMenu>
            <version>2.5.8</version>
        </WP_CustomMenu>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <navigation>WP_CustomMenu_Block_Navigation</navigation><!-- v1.4-1.6 -->
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_topmenu>WP_CustomMenu_Block_Topmenu</html_topmenu><!-- v1.7 -->
                </rewrite>
            </page>
            <custommenu>
                <class>WP_CustomMenu_Block</class>
            </custommenu>
        </blocks>
        <helpers>
            <custommenu>
                <class>WP_CustomMenu_Helper</class>
            </custommenu>
        </helpers>
    </global>
    <frontend>
        <routers>
            <custommenu>
                <use>standard</use>
                <args>
                    <frontName>custommenu</frontName>
                    <module>WP_CustomMenu</module>
                </args>
            </custommenu>
        </routers>
        <layout>
            <updates>
                <custommenu>
                    <file>webandpeople/custommenu.xml</file>
                </custommenu>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <WP_CustomMenu>
                    <files>
                        <default>WP_CustomMenu.csv</default>
                    </files>
                </WP_CustomMenu>
            </modules>
        </translate>
    </adminhtml>
</config>
