<?xml version="1.0"?>
<config>
    <modules>
        <WP_BackToTopButton>
            <version>1.3.2</version>
        </WP_BackToTopButton>
    </modules>
    <global>
        <blocks>
            <backtotopbutton>
                <class>WP_BackToTopButton_Block</class>
            </backtotopbutton>
        </blocks>
        <helpers>
            <backtotopbutton>
                <class>WP_BackToTopButton_Helper</class>
            </backtotopbutton>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <backtotopbutton>
                    <file>webandpeople/backtotopbutton.xml</file>
                </backtotopbutton>
            </updates>
        </layout>
        <translate>
            <modules>
                <WP_BackToTopButton>
                    <files>
                        <default>WP_BackToTopButton.csv</default>
                    </files>
                </WP_BackToTopButton>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <WP_BackToTopButton>
                    <files>
                        <default>WP_BackToTopButton.csv</default>
                    </files>
                </WP_BackToTopButton>
            </modules>
        </translate>
    </adminhtml>    
</config>
