<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Google>
            <version>1.0.0.0</version>
        </SunshineBiz_Google>
    </modules>
    <global>
        <models>
            <google>
                <class>SunshineBiz_Google_Model</class>
                <resourceModel>google_resource</resourceModel>
            </google>
            <google_resource>
                <class>SunshineBiz_Google_Model_Resource</class>
                <entities>
                    <customer>
                        <table>google_customer</table>
                    </customer>
                </entities>
            </google_resource>
        </models>
        <blocks>
            <google>
                <class>SunshineBiz_Google_Block</class>
            </google>            
        </blocks>
        <helpers>
            <google>
                <class>SunshineBiz_Google_Helper</class>
            </google>
        </helpers>
        <resources>
            <google_setup>
                <setup>
                    <module>SunshineBiz_Google</module>
                </setup>
            </google_setup>
        </resources> 
    </global>
    <frontend>
        <translate>
            <modules>
                <SunshineBiz_Google>
                    <files>
                        <default>SunshineBiz_Google.csv</default>
                    </files>
                </SunshineBiz_Google>
            </modules>
        </translate>
        <routers>
            <google>
                <use>standard</use>
                <args>
                    <module>SunshineBiz_Google</module>
                    <frontName>google</frontName>
                </args>
            </google>
        </routers>
        <layout>
            <updates>
                <google>
                    <file>google.xml</file>
                </google>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Google>
                    <files>
                        <default>SunshineBiz_Google.csv</default>
                    </files>
                </SunshineBiz_Google>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <socialconnect>
            <google>
                <active>1</active>
                <model>google/method</model>
                <client_id>771500144817.apps.googleusercontent.com</client_id>
                <client_secret>DG9oTagPccNw9-W4gJKQdyPw</client_secret>
            </google>
        </socialconnect>
    </default>
</config>