<?xml version="1.0"?>
<config>
    <modules>
        <WP_SmartProductImage>
            <version>1.0.0</version>
        </WP_SmartProductImage>
    </modules>
    <global>
        <models>
            <smartproductimage>
                <class>WP_SmartProductImage_Model</class>
            </smartproductimage>
        </models>
        <blocks>
            <smartproductimage>
                <class>WP_SmartProductImage_Block</class>
            </smartproductimage>
        </blocks>
        <helpers>
            <smartproductimage>
                <class>WP_SmartProductImage_Helper</class>
            </smartproductimage>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <smartproductimage>
                    <file>webandpeople/smartproductimage.xml</file>
                </smartproductimage>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <WP_SmartProductImage>
                    <files>
                        <default>WP_SmartProductImage.csv</default>
                    </files>
                </WP_SmartProductImage>
            </modules>
        </translate>
    </adminhtml>
</config>
