<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_SocialConnect>
            <version>1.0.0.0</version>
        </SunshineBiz_SocialConnect>
    </modules>
    <global>
        <models>
            <socialconnect>
                <class>SunshineBiz_SocialConnect_Model</class>
            </socialconnect>
        </models>
        <blocks>
            <socialconnect>
                <class>SunshineBiz_SocialConnect_Block</class>
            </socialconnect>            
        </blocks>
        <helpers>
            <socialconnect>
                <class>SunshineBiz_SocialConnect_Helper</class>
            </socialconnect>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <SunshineBiz_SocialConnect>
                    <files>
                        <default>SunshineBiz_SocialConnect.csv</default>
                    </files>
                </SunshineBiz_SocialConnect>
            </modules>
        </translate>
        <routers>
            <socialconnect>
                <use>standard</use>
                <args>
                    <module>SunshineBiz_SocialConnect</module>
                    <frontName>socialconnect</frontName>
                </args>
            </socialconnect>
        </routers>
        <layout>
            <updates>
                <socialconnect>
                    <file>socialconnect.xml</file>
                </socialconnect>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_SocialConnect>
                    <files>
                        <default>SunshineBiz_SocialConnect.csv</default>
                    </files>
                </SunshineBiz_SocialConnect>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <socialconnect>
            <general>
                <display>1</display>
                <title>Connect with social account</title>
            </general>
        </socialconnect>
    </default>
</config>