<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Catalog>
            <version>1.0.0.0</version>
        </SunshineBiz_Catalog>
    </modules>
    <global>
        <models>
            <sunshinebiz_catalog>
                <class>SunshineBiz_Catalog_Model</class>
            </sunshinebiz_catalog>
            <reports_resource>
                <rewrite>
                    <product_collection>SunshineBiz_Catalog_Model_Resource_Product_Collection</product_collection>
                </rewrite>
            </reports_resource>
        </models>
        <helpers>
            <sunshinebiz_catalog>
                <class>SunshineBiz_Catalog_Helper</class>
            </sunshinebiz_catalog>
        </helpers>
        <resources>
            <sunshinebiz_catalog_setup>
                <setup>
                    <module>SunshineBiz_Catalog</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </sunshinebiz_catalog_setup>
        </resources>
        <blocks>
            <sunshinebiz_catalog>
                <class>SunshineBiz_Catalog_Block</class>
            </sunshinebiz_catalog>
        </blocks>
    </global>
    <frontend>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <SunshineBiz_Catalog before="Mage_Catalog">SunshineBiz_Catalog</SunshineBiz_Catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
        <translate>
            <modules>
                <SunshineBiz_Catalog>
                    <files>
                        <default>SunshineBiz_Catalog.csv</default>
                    </files>
                </SunshineBiz_Catalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <sunshinebiz_catalog>
                    <file>sunshinebiz/catalog.xml</file>
                </sunshinebiz_catalog>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Catalog>
                    <files>
                        <default>SunshineBiz_Catalog.csv</default>
                    </files>
                </SunshineBiz_Catalog>
            </modules>
        </translate>
    </adminhtml>
</config>