<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Optimization>
            <version>1.0.0.0.0</version>
        </SunshineBiz_Optimization>
    </modules>
    <global>
        <helpers>
            <optimization>
                <class>SunshineBiz_Optimization_Helper</class>
            </optimization>
        </helpers>
        <blocks>
            <adminhtml>  
                <rewrite>
                    <promo_quote_grid>SunshineBiz_Optimization_Block_Adminhtml_Promo_Quote_Grid</promo_quote_grid>
                    <store_switcher>SunshineBiz_Optimization_Block_Adminhtml_Store_Switcher</store_switcher>
                    <system_config_form>SunshineBiz_Optimization_Block_Adminhtml_System_Config_Form</system_config_form>
                    <system_config_form_field>SunshineBiz_Optimization_Block_Adminhtml_System_Config_Form_Field</system_config_form_field>                    
                    <widget_grid_column_filter_price>SunshineBiz_Optimization_Block_Adminhtml_Widget_Grid_Column_Filter_Price</widget_grid_column_filter_price>
                    <widget_grid_column_filter_text>SunshineBiz_Optimization_Block_Adminhtml_Widget_Grid_Column_Filter_Text</widget_grid_column_filter_text>
                    <widget_grid_column_renderer_massaction>SunshineBiz_Optimization_Block_Adminhtml_Widget_Grid_Column_Renderer_Massaction</widget_grid_column_renderer_massaction>
                </rewrite>  
            </adminhtml>
            <catalog>
                <rewrite>
                    <product_new>SunshineBiz_Optimization_Block_Catalog_Product_New</product_new>
                </rewrite>
            </catalog>  
        </blocks>
    </global>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Optimization>
                    <files>
                        <default>SunshineBiz_Optimization.csv</default>
                    </files>
                </SunshineBiz_Optimization>
            </modules>
        </translate>
    </adminhtml>
</config>