<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Location>
            <version>1.0.0.0.0</version>
        </SunshineBiz_Location>
    </modules>
    <global>
        <models>
            <location>
                <class>SunshineBiz_Location_Model</class>
                <resourceModel>location_resource</resourceModel>
            </location>
            <location_resource>
                <class>SunshineBiz_Location_Model_Resource</class>                
                <entities>
                    <region>
                        <table>directory_country_region</table>
                    </region>
                    <region_name>
                        <table>directory_country_region_name</table>
                    </region_name>
                    <area>
                        <table>location_area</table>
                    </area>
                    <area_name>
                        <table>location_area_name</table>
                    </area_name>
                    <building>
                        <table>location_building</table>
                    </building>
                    <building_name>
                        <table>location_building_name</table>
                    </building_name>
                </entities>
            </location_resource>
            <directory_resource>
                <rewrite>
                    <country_collection>SunshineBiz_Location_Model_Resource_Country_Collection</country_collection>
                    <region_collection>SunshineBiz_Location_Model_Resource_Region_Collection</region_collection>
                </rewrite>
            </directory_resource>
        </models>
        <helpers>
            <location>
                <class>SunshineBiz_Location_Helper</class>
            </location>
        </helpers>
    	<resources>
            <location_setup>
                <setup>
                    <module>SunshineBiz_Location</module>
                </setup>
            </location_setup>
        </resources>
        <blocks>
            <location>
                <class>SunshineBiz_Location_Block</class>
            </location>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SunshineBiz_Location>SunshineBiz_Location_Adminhtml</SunshineBiz_Location>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
    	<translate>
            <modules>
                <SunshineBiz_Location>
                    <files>
                        <default>SunshineBiz_Location.csv</default>
                    </files>
                </SunshineBiz_Location>
            </modules>
        </translate>
        <layout>
            <updates>
                <location>
                    <file>sunshinebiz_location.xml</file>
                </location>
            </updates>
        </layout>
    </adminhtml>        
</config>