<?xml version="1.0"?>
<config>
    <modules>
        <SunshineBiz_Sales>
            <version>1.0.0.0</version>
        </SunshineBiz_Sales>
    </modules>
    <global>
        <blocks>
            <sunshinebiz_sales>
                <class>SunshineBiz_Sales_Block</class>
            </sunshinebiz_sales>
            <sales>
                <rewrite>
                    <order_history>SunshineBiz_Sales_Block_Order_History</order_history>
                    <order_info_buttons>SunshineBiz_Sales_Block_Order_Info_Buttons</order_info_buttons>
                </rewrite>
            </sales>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <SunshineBiz_Sales>
                    <files>
                        <default>SunshineBiz_Sales.csv</default>
                    </files>
                </SunshineBiz_Sales>
            </modules>
        </translate>
        <layout>
            <updates>
                <sunshinebiz_sales>
                    <file>sunshinebiz/sales.xml</file>
                </sunshinebiz_sales>
            </updates>
        </layout>
    </frontend>
</config>